.invoiceCard {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 24px 48px;
}

/* Text Input Styles */
.invoiceTextInput {
    border: 1px dashed transparent;
    transition: border-color 0.2s;
    padding: 1px;
    color: var(--mantine-color-deepBlue-9);
    opacity: 1;
    font-size: .875rem;
}

.invoiceTextInput:hover {
    border-color: var(--mantine-color-mainOrange-4);
}

.invoiceTextInput:focus {
    border-color: var(--mantine-color-mainOrange-4);
    outline: none;
}

.invoiceTextInput::placeholder {
    color: var(--mantine-color-deepBlue-9);
    opacity: 0.7;
}

.inputBold {
    font-weight: bold;
    font-size: 1.2rem
}

.inputTextRight {
    text-align: right;
}

.invoiceLabelError {
    display: none;
}

.invoiceTextInputError {
    border: 1px dashed transparent;
    transition: border-color 0.2s;
    padding: 1px;
    color: var(--mantine-color-deepBlue-6);
    opacity: 1;
    font-size: .875rem;
}

/* Number Input styles */
.invoiceNumberInput {
    border: 1px dashed transparent;
    transition: border-color 0.2s;
    padding: 1px;
    color: var(--mantine-color-deepBlue-9);
    opacity: 1;
    font-size: .875rem;
    text-align: center;
}

.invoiceNumberInput:hover {
    border-color: var(--mantine-color-mainOrange-4);
}

.invoiceNumberInput:focus {
    border-color: var(--mantine-color-mainOrange-4);
    outline: none;
}

.invoiceNumberInput::placeholder {
    color: var(--mantine-color-deepBlue-9);
    opacity: 0.7;
}


/* Table Styles */
.invoiceTable {
    color: var(--mantine-color-deepBlue-9);

    th {
        font-style: italic;
        font-size: 1rem;
        font-weight: 500;
        color: var(--mantine-color-deepBlue-0);
        background: var(--mantine-color-deepBlue-9);
    }
}

.invoiceTableWrapper {
    position: relative;
    transition: max-height 0.4s ease;
}

.addMoreButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 0; /* Hiden for default. */
    transition: max-height 0.4s ease;
}

.addMoreHiddenButton {
    width: 100%;
    height: 45px;
    background: var(--mantine-color-mainOrange-4);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.invoiceTableWrapper:hover .addMoreButtonWrapper {
    max-height: 60px;
}

.invoiceTableWrapper:hover .addMoreHiddenButton {
    opacity: 1;
    background-color: var(--mantine-color-mainOrange-4);
}


.rowHoverButtonWrapper {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease;
}

.rowHoverButton {
    height: 100%;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.tableTr:hover .rowHoverButtonWrapper {
    max-width: 100px;
}

.tableTr:hover .rowHoverButton {
    opacity: 1;
}

/* Box error */
.boxError {
    background-color: var(--mantine-color-mainRed-1);
    list-style: none;
    border: 1px solid var(--mantine-color-mainRed-6);
    border-radius: 8px;
}

.gapZero {
    gap: 0 !important;
}

.listError {
    list-style: none;
    padding: 10px;
    color: var(--mantine-color-mainRed-6);
    font-size: 1.2rem;
    text-align: right;
    margin: 0;
}

/* Notes Box */
.notesBox {
    height: 130px;
    border: 1px solid var(--mantine-color-deepBlue-9);
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
